@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte: "Press Start 2P", system-ui;
    --fonte-secundaria: "IBM Plex Mono", monospace;

    --roxo: #5300C8;
    --branco: #E5E5E5;
    --azul: #03318C;
}

.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


.header{
    
    display: flex;
    justify-content: center;
    background-color: var(--roxo);
    color: var(--branco);
    
    padding: 20px 0px 20px 0px;
}

.header_titulo{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
}





.main{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px 150px 0px;
}


.esquerda_titulo{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
}




.direita_titulo{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-flow: column wrap;
}


.input{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.input_texto{
    border-color: var(--azul);
    border-radius: 45px;
    border-width: 3px;
}


.button{
    gap: 13px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button_guardar{
    font-family: var(--fonte-secundaria);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    border-style: none;
    background-color: var(--azul);
    color: var(--branco);
}

.button_limpar{
    font-family: var(--fonte-secundaria);
    padding: 15px 50px 15px 50px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--azul);
    background-color: #ffffff;
    color: var(--azul);
}




.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo);
    color: var(--branco);
    padding: 64px 0px 64px 0px;
    height: 100%;
    width: 100%;
    position:static ;
}

.footer_texto{
    display: flex;
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
}

.footer_subtexto{
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
}

.footer_t{
    font-family: var(--fonte-secundaria);
    
}